Sample LogicApps/AIS-POC-OrderManagement-Test/IncomingOrder/workflow.json
{
  "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
          "Parse_Order": {
              "type": "ParseJson",
              "inputs": {
                  "content": "@triggerBody()",
                  "schema": {
                      "type": "object",
                      "properties": {
                          "OrderId": {
                              "type": "integer"
                          },
                          "DestinationCity": {
                              "type": "string"
                          },
                          "SKU": {
                              "type": "string"
                          },
                          "Quantity": {
                              "type": "string"
                          },
                          "PriorityShipping": {
                              "type": "boolean"
                          }
                      }
                  }
              },
              "runAfter": {}
          },
          "Acknowledge_Order": {
              "type": "Compose",
              "inputs": {
                  "OrderId": "@body('Parse_Order')?['OrderId']"
              },
              "runAfter": {
                  "Parse_Order": [
                      "SUCCEEDED"
                  ]
              }
          },
          "Process_Order": {
              "type": "Compose",
              "inputs": {
                  "OrderId": "@body('Parse_Order')?['OrderId']"
              },
              "runAfter": {
                  "Acknowledge_Order": [
                      "SUCCEEDED"
                  ]
              }
          },
          "Ship_Order": {
              "type": "Compose",
              "inputs": {
                  "OrderId": "@body('Parse_Order')?['OrderId']"
              },
              "runAfter": {
                  "Process_Order": [
                      "SUCCEEDED"
                  ]
              }
          },
          "Ship_Order-copy": {
              "type": "Compose",
              "inputs": {
                  "OrderId": "@body('Parse_Order')?['OrderId']"
              },
              "runAfter": {
                  "Ship_Order": [
                      "SUCCEEDED"
                  ]
              }
          },
          "Request_Feedback": {
              "type": "Workflow",
              "inputs": {
                  "host": {
                      "workflow": {
                          "id": "RequestFeedback"
                      }
                  },
                  "body": {
                      "OrderId": "@body('Parse_Order')?['OrderId']"
                  }
              },
              "runAfter": {
                  "Ship_Order-copy": [
                      "SUCCEEDED"
                  ]
              }
          },
          "Response": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                  "statusCode": 200
              },
              "runAfter": {
                  "Request_Feedback": [
                      "SUCCEEDED"
                  ]
              }
          }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "triggers": {
          "When_a_HTTP_request_is_received": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                  "schema": {
                      "type": "object",
                      "properties": {
                          "OrderId": {
                              "type": "integer"
                          },
                          "DestinationCity": {
                              "type": "string"
                          },
                          "SKU": {
                              "type": "string"
                          },
                          "Quantity": {
                              "type": "string"
                          },
                          "PriorityShipping": {
                              "type": "boolean"
                          }
                      }
                  }
              }
          }
      },
      "metadata": {
          "IaCMetadata": {
              "IaCGenerationDate": "2025-01-30T01:36:18.984Z",
              "IaCWorkflowCorrelationId": "3f7291b2-18ee-48fe-a12d-a6752ff4c46a",
              "LogicAppsExtensionVersion": "5.14.4",
              "LogicAppsPinnedBundle": false,
              "LogicAppsCurrentBundleVersion": "1.94.56"
          }
      }
  },
  "kind": "Stateful"
}