Sample LogicApps/AIS-POC-OrderManagement-Test/OutgoingOrder/workflow.json
{
  "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "actions": {
          "Parse_Order": {
              "type": "ParseJson",
              "inputs": {
                  "content": "@triggerBody()",
                  "schema": {
                      "type": "object",
                      "properties": {
                          "OrderId": {
                              "type": "integer"
                          },
                          "DestinationCity": {
                              "type": "string"
                          },
                          "SKU": {
                              "type": "string"
                          },
                          "Quantity": {
                              "type": "string"
                          },
                          "PriorityShipping": {
                              "type": "boolean"
                          }
                      }
                  }
              },
              "runAfter": {}
          },
          "Assemble_Order": {
              "type": "Compose",
              "inputs": {
                  "OrderId": "@body('Parse_Order')?['OrderId']"
              },
              "runAfter": {
                  "Parse_Order": [
                      "SUCCEEDED"
                  ]
              }
          },
          "Create_Order_Request": {
              "type": "Compose",
              "inputs": {
                  "OrderId": "@body('Parse_Order')?['OrderId']"
              },
              "runAfter": {
                  "Assemble_Order": [
                      "SUCCEEDED"
                  ]
              }
          },
          "Publish_Order_Request": {
              "type": "Compose",
              "inputs": {
                  "OrderId": "@body('Parse_Order')?['OrderId']"
              },
              "runAfter": {
                  "Skip_Holiday_Orders": [
                      "SUCCEEDED"
                  ]
              }
          },
          "Skip_Holiday_Orders": {
              "type": "If",
              "expression": {
                  "and": [
                      {
                          "equals": [
                              "@dayOfWeek(string(utcNow()))",
                              "@parameters('Holiday')"
                          ]
                      }
                  ]
              },
              "actions": {
                  "Delay_1_day": {
                      "type": "Wait",
                      "inputs": {
                          "interval": {
                              "count": 10,
                              "unit": "Second"
                          }
                      }
                  }
              },
              "else": {
                  "actions": {}
              },
              "runAfter": {
                  "Create_Order_Request": [
                      "SUCCEEDED"
                  ]
              }
          },
          "Order_Delivery_Received": {
              "type": "Compose",
              "inputs": {
                  "OrderId": "@body('Parse_Order')?['OrderId']"
              },
              "runAfter": {
                  "Publish_Order_Request": [
                      "SUCCEEDED"
                  ]
              }
          },
          "Send_Feedback": {
              "type": "Workflow",
              "inputs": {
                  "host": {
                      "workflow": {
                          "id": "SendFeedback"
                      }
                  },
                  "body": {
                      "OrderId": "@body('Parse_Order')?['OrderId']"
                  }
              },
              "runAfter": {
                  "Invoke_a_workflow_in_this_workflow_app": [
                      "SUCCEEDED"
                  ]
              }
          },
          "Invoke_a_workflow_in_this_workflow_app": {
              "type": "Workflow",
              "inputs": {
                  "host": {
                      "workflow": {
                          "id": "IncomingOrder"
                      }
                  },
                  "body": {
                      "OrderId": "@body('Parse_Order')?['OrderId']",
                      "DestinationCity": "@body('Parse_Order')?['DestinationCity']",
                      "SKU": "@body('Parse_Order')?['SKU']",
                      "Quantity": "@body('Parse_Order')?['Quantity']",
                      "PriorityShipping": "@body('Parse_Order')?['PriorityShipping']"
                  }
              },
              "runAfter": {
                  "Order_Delivery_Received": [
                      "SUCCEEDED"
                  ]
              }
          },
          "Response": {
              "type": "Response",
              "kind": "Http",
              "inputs": {
                  "statusCode": 200
              },
              "runAfter": {
                  "Send_Feedback": [
                      "SUCCEEDED"
                  ]
              }
          }
      },
      "contentVersion": "1.0.0.0",
      "outputs": {},
      "triggers": {
          "When_a_HTTP_request_is_received": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                  "schema": {
                      "type": "object",
                      "properties": {
                          "OrderId": {
                              "type": "integer"
                          },
                          "DestinationCity": {
                              "type": "string"
                          },
                          "SKU": {
                              "type": "string"
                          },
                          "Quantity": {
                              "type": "string"
                          },
                          "PriorityShipping": {
                              "type": "boolean"
                          }
                      }
                  }
              }
          }
      },
      "metadata": {
          "IaCMetadata": {
              "IaCGenerationDate": "2025-01-30T01:36:18.984Z",
              "IaCWorkflowCorrelationId": "3f7291b2-18ee-48fe-a12d-a6752ff4c46a",
              "LogicAppsExtensionVersion": "5.14.4",
              "LogicAppsPinnedBundle": false,
              "LogicAppsCurrentBundleVersion": "1.94.56"
          }
      }
  },
  "kind": "Stateful"
}